.carousel-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    max-width: 300px;

  }

  .scrollable { 
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }
  
  .carousel-cell {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 300px;
  }


  .carousel-cell img {
    border-radius: 20px;
    -webkit-box-shadow: 1px 18px 32px -14px rgba(0,0,0,0.66);
    -moz-box-shadow: 1px 18px 32px -14px rgba(0,0,0,0.66);
    box-shadow: 1px 18px 32px -14px rgba(0,0,0,0.66);
  }

  .manage-scroll-button { 
    margin-top: 8px;
  }
  